.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input, .counter span {
    width: 50px;
    border: .5px solid rgb(136, 127, 127);
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #0052cc;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    border: .5px solid rgb(136, 127, 127);
    user-select: none;
}
.error-toast {
    background-color: #f27474 !important;
    color: white;
}

@media only screen and (max-width: 767px) {
    .cart-list-head{
        font-size: 12px;
        text-align: center;
    }
    .cart_row{
        font-size: 12px;
        text-align: center;
        color: #0052cc;
    }
}